<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- unity程序集-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration" />
  </configSections>
  <unity xmlns= "http://schemas.microsoft.com/practices/2010/unity ">
    <!-- 程序集和命名空间 -->
    <assembly name= "UnityApp.Sample"/>
    <namespace name= "UnityApp.Sample.Domain"/>
    <namespace name= "UnityApp.Sample.Strategy"/>
    <container name= "unityContainer">
      <!-- 用户-->
      <register type= "IUser" mapTo= "User"></register>
    </container>
  </unity>
</configuration>