<div class="jumbotron">
    <h1>OAuth2.0授权码模式</h1>
    <p class="lead">
        OAuth在"客户端"与"服务提供商"之间，设置了一个授权层（authorization layer）。"客户端"不能直接登录"服务提供商"，只能登录授权层，以此将用户与客户端区分开来。
        "客户端"登录授权层所用的令牌（token），与用户的密码不同。用户可以在登录的时候，指定授权层令牌的权限范围和有效期.
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>OAuth2.0授权码模式</h2>
        <p>
            OAuth2.0授权码模式，点击下方授权按钮，
        </p>
        <p><a class="btn btn-default" href="/OAuth/Authorize?redirect_uri=http://localhost:3335/OAuth/GetAccessToken&client_id=fNm0EDIXbfuuDowUpAoq5GTEiywV8eg0TpiIVnV8&client_secret=111111&response_type=code&scope=scope1">授权 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>开源中国</h2>
        <p>人之为学，如饮河海，大饮则大盈，小饮则小颖.</p>
        <p><a class="btn btn-default" href="http://my.oschina.net/lichaoqiang">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>我的博客</h2>
        <p>李朝强的博客，意在总结和分享我对生活、工作等方面de感悟.</p>
        <p><a class="btn btn-default" href="http://www.lichaoqiang.com/" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>
<script type="text/javascript" src="http://tiku.kaola100.com/bundles/jquery?v=FVs3ACwOLIVInrAl5sdzR2jrCDmVOWFbZMY6g6Q0ulE1"></script>
<script type="text/javascript">
</script>

